name: Docker Base Image Test

on:
  pull_request:
    paths:
      resources/Dockerfile@base

jobs:
  build-base-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build Docker
        uses: docker/build-push-action@v3
        with:
          context: .
          push: false
          file: resources/Dockerfile@base
          platforms: linux/amd64
